<% include common/head.ejs %>
<script src="js/echarts.min.js"></script>
<body>
<% include common/top.ejs %>
<input type="hidden" id="leftFirstNavID" value="index"/>
<input type="hidden" id="leftSecondNavID" value=""/>
<section id="page">
    <% include common/left.ejs %>
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/admin/">首页</a>
                                    </li>
                                    <li>错误提示</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>拒绝访问</h1>
                            <pre>您可能访问了未经授权的请求，请点击首页从新操作。</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include common/bottom.ejs %>
</body>
</html>