<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>华夏众安数据管理系统-<%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="/admin/js/excanvas.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/admin/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="/admin/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/admin/font-awesome/css/font-awesome.min.css">
    <script src="/admin/js/jquery-2.0.3.min.js"></script>
    
    <script src="/admin/layer/layer.js"></script>
</head>